<!-- begin  app.component.html -->

<h1>{{ title }}</h1>

Nr rows: <select class="form-control" [(ngModel)]="selectedRows" (ngModelChange)="getPersons($event)">
	<option *ngFor="#numRow of numRows">{{ numRow }}</option>
</select>

<table class="table table-striped">
	<tr>
	<th>ID</th>
		<th>Naam</th>
		<th>E-mail</th>
	</tr>
	<tr *ngFor="#person of people">
		<td>{{ person.id }}</td>
		<td>{{ person.fname}} {{ person.lname}}</td>
		<td>{{person.email}}</td>
	</tr>
</table>
<div>
	<button class="btn btn-primary" (click)="emptyTable()">Leegmaken</button>
</div>

<!-- end  app.component.html -->
